.popover:popover-open {
  color: #5a6c7d;
  inset: unset;
  padding: 20px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: min(100%, 400px);
}

.imagination:popover-open {
  aspect-ratio: 1/1;
  inset: 0;
  margin: auto;
  max-height: 80vh;
  width: max-content;
}
