.popover:popover-open {
  color: #5a6c7d;
  inset: unset;
  padding: 20px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: min(100%, 400px);
}

.imagination:popover-open {
  aspect-ratio: 1/1;
  inset: 0;
  margin: auto;
  max-height: 80vh;
  width: max-content;
}

/**
 * CSS Anchor positioning basics:
 * - Not yet at baseline availability.
 * - Add the `anchor-name` property with a name to the controlling element.
 * - Reference the anchor in the popover styles using `position-anchor`
 *   property and the `anchor()` function.
 */
[popovertarget="manualPopover"] {
  anchor-name: --manual-popover-anchor;
}

.popover--manual:popover-open {
  position-anchor: --manual-popover-anchor;

  inset: unset;
  left: anchor(left);
  margin-block-start: 5px;
  top: anchor(bottom);
}
